.imagen{
    max-height: 50px;
    max-width: 50px;
}

@font-face{
    font-family: "Caviar";  
    src: url('../fonts/CaviarDreams_Bold.ttf') format('truetype');
  }
  #fondoTotalDash{
    background-image: url(../img/fondo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    }
  .fondoInicioC{
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 0px solid #000000;
background-color: #121C2C !important;
opacity: 0.9;
}
body{
font-family: 'Caviar', serif;
  }
  .cktes2{
    background-color: #A4A4A4 !important;
}
.colorNaLe{
    color: #FF4C05 !important;
  }
  .colorNa{
    background-color: #FF4C05 !important;
  }
  .cktes2{
    background-color: #A4A4A4 !important;
}
input
{
    font-weight: bold;
}
#fondoTotalDash{
    background-image: url(../img/fondo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    }

.imagen_fondo{
    background-image: url("../img/1.jpg")
}

.imagen_sesion{
    max-height: 250px;
    max-width: 250px;
}

.espacio_inf{
    margin-bottom: 64px; 
}

.cktes{
    background-color: #121C2C !important;
}

.cktes2{
    background-color: #A4A4A4 !important;
}

.espacio{
    padding-left: 15px;
    padding-bottom: 15px; 
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
flex: 1 0 auto;
}

.body404 {
    background-color: #00B9E0;
}