.imagen{
    max-height: 50px;
    max-width: 50px;
}
#fondoTotalDash{
    background-image: url(../img/fondo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    }
    @font-face{
        font-family: "Caviar";  
        src: url('../fonts/CaviarDreams_Bold.ttf') format('truetype');
      }
body{
  font-family: 'Caviar', serif;
      }
.colorNa{
    background-color: #FF4C05 !important;
}
.colorNaLe{
    color: #FF4C05 !important;
}
.icon-white{
    color: white;
}
.cktes{
  background-color: #121C2C !important;
}

.imagen_fondo{
    background-image: url("../img/1.jpg")
}

.imagen_sesion{
    max-height: 200px;
    max-width: 200px;
}

.espacio_inf{
    margin-bottom: 64px; 
}

.fondoInicioC{
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 0px solid #000000;
background-color: #121C2C !important;
opacity: 0.9;
}


.cktes2{
    background-color: #A4A4A4 !important;
}

.espacio{
    padding-left: 15px;
    padding-bottom: 15px; 
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.body404 {
    background-color: #00B9E0;
}